.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  display: flex;
  padding: 0px 20px;
  font-size: 24px;
}

.nav-items > ul > li {
  padding: 10px;
  list-style-type: none;
}

.search {
  padding: 10px;
}

.res-card {
  width: 200px;
  margin: 5px;
  padding: 5px;
  background-color: #f0f0f0;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-logo {
  width: 100%;
}

.res-container {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-cards {
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
  margin: 20px;
}

.login-button {
  padding: 0px 20px;
  cursor: pointer;
}

.filter-container {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.search-input {
  padding: 18px;
  border-radius: 10px;
  border: 1px solid #ccc;
  flex: 1; /* Adjust width according to parent */
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-button,
.filter-button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.search-button {
  background-color: #007bff;
  color: white;
}

.search-button:hover {
  background-color: #0056b3;
}

.filter-button {
  background-color: #28a745;
  color: white;
}

.filter-button:hover {
  background-color: #218838;
}

@media (max-width: 600px) {
  .filter-container {
    flex-direction: column;
    align-items: stretch;
  }

  .search-input,
  .search-button,
  .filter-button {
    width: 100%;
    margin-bottom: 10px;
  }
}

.user-card {
  padding:10px;
  border: 1px solid black;
}
